{
  "name": "IT projekt - version 3",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "/var/www/dtu",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "dtu.cryolab.dk",
      "port": 1337,
      "usePrivateKey": false,
      "username": "root",
      "password": "#Br0wni3s",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "appointment_citiz.html",
        "ctime": "2018-01-10T18:26:59.687Z",
        "mtime": "2018-01-10T18:26:59.687Z",
        "size": 2656
      },
      {
        "file": "assets/css/animate.css",
        "ctime": "2018-01-10T08:30:48.198Z",
        "mtime": "2018-01-08T21:02:26.000Z",
        "size": 23848
      },
      {
        "file": "assets/css/styles.css",
        "ctime": "2018-01-10T18:29:13.930Z",
        "mtime": "2018-01-10T18:29:13.930Z",
        "size": 2946
      },
      {
        "file": "assets/images/happy-kid.jpg",
        "ctime": "2018-01-10T08:30:48.266Z",
        "mtime": "2018-01-08T20:20:38.000Z",
        "size": 691458
      },
      {
        "file": "assets/images/landing-bg.jpg",
        "ctime": "2018-01-10T08:30:48.310Z",
        "mtime": "2018-01-08T20:35:26.000Z",
        "size": 4073375
      },
      {
        "file": "assets/js/landing-scripts.js",
        "ctime": "2018-01-10T08:30:48.418Z",
        "mtime": "2018-01-08T21:25:16.000Z",
        "size": 244
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap-grid.css",
        "ctime": "2018-01-10T08:30:47.436Z",
        "mtime": "2017-12-28T17:09:28.000Z",
        "size": 38875
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap-grid.css.map",
        "ctime": "2018-01-10T08:30:47.453Z",
        "mtime": "2017-12-28T17:09:28.000Z",
        "size": 87218
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap-grid.min.css",
        "ctime": "2018-01-10T08:30:47.470Z",
        "mtime": "2017-12-28T17:09:38.000Z",
        "size": 30457
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap-grid.min.css.map",
        "ctime": "2018-01-10T08:30:47.485Z",
        "mtime": "2017-12-28T17:09:38.000Z",
        "size": 67469
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap-reboot.css",
        "ctime": "2018-01-10T08:30:47.505Z",
        "mtime": "2017-12-28T17:09:28.000Z",
        "size": 4968
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap-reboot.css.map",
        "ctime": "2018-01-10T08:30:47.519Z",
        "mtime": "2017-12-28T17:09:28.000Z",
        "size": 58010
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap-reboot.min.css",
        "ctime": "2018-01-10T08:30:47.546Z",
        "mtime": "2017-12-28T17:09:40.000Z",
        "size": 4081
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap-reboot.min.css.map",
        "ctime": "2018-01-10T08:30:47.569Z",
        "mtime": "2017-12-28T17:09:40.000Z",
        "size": 27349
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap.css",
        "ctime": "2018-01-10T08:30:47.585Z",
        "mtime": "2017-12-28T17:09:28.000Z",
        "size": 174904
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap.css.map",
        "ctime": "2018-01-10T08:30:47.613Z",
        "mtime": "2017-12-28T17:09:28.000Z",
        "size": 406104
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap.min.css",
        "ctime": "2018-01-10T08:30:47.642Z",
        "mtime": "2017-12-28T17:09:38.000Z",
        "size": 142181
      },
      {
        "file": "assets/bootstrapv4/css/bootstrap.min.css.map",
        "ctime": "2018-01-10T08:30:47.668Z",
        "mtime": "2017-12-28T17:09:38.000Z",
        "size": 544039
      },
      {
        "file": "assets/bootstrapv4/js/bootstrap.bundle.js",
        "ctime": "2018-01-10T08:30:47.723Z",
        "mtime": "2017-12-28T17:09:40.000Z",
        "size": 195760
      },
      {
        "file": "assets/bootstrapv4/js/bootstrap.bundle.js.map",
        "ctime": "2018-01-10T08:30:47.756Z",
        "mtime": "2017-12-28T17:09:40.000Z",
        "size": 326830
      },
      {
        "file": "assets/bootstrapv4/js/bootstrap.bundle.min.js",
        "ctime": "2018-01-10T08:30:47.777Z",
        "mtime": "2017-12-28T17:09:46.000Z",
        "size": 67652
      },
      {
        "file": "assets/bootstrapv4/js/bootstrap.bundle.min.js.map",
        "ctime": "2018-01-10T08:30:47.880Z",
        "mtime": "2017-12-28T17:09:46.000Z",
        "size": 273728
      },
      {
        "file": "assets/bootstrapv4/js/bootstrap.js",
        "ctime": "2018-01-10T08:30:47.934Z",
        "mtime": "2017-12-28T17:09:40.000Z",
        "size": 114953
      },
      {
        "file": "assets/bootstrapv4/js/bootstrap.js.map",
        "ctime": "2018-01-10T08:30:47.979Z",
        "mtime": "2017-12-28T17:09:40.000Z",
        "size": 195572
      },
      {
        "file": "assets/bootstrapv4/js/bootstrap.min.js",
        "ctime": "2018-01-10T08:30:48.035Z",
        "mtime": "2017-12-28T17:09:46.000Z",
        "size": 48887
      },
      {
        "file": "assets/bootstrapv4/js/bootstrap.min.js.map",
        "ctime": "2018-01-10T08:30:48.053Z",
        "mtime": "2017-12-28T17:09:46.000Z",
        "size": 162171
      },
      {
        "file": "FAQ.html",
        "ctime": "2018-01-10T18:07:15.398Z",
        "mtime": "2018-01-10T18:07:15.398Z",
        "size": 5453
      },
      {
        "file": "FAQnew.html",
        "ctime": "2018-01-10T17:06:57.888Z",
        "mtime": "2018-01-10T17:06:57.888Z",
        "size": 5103
      },
      {
        "file": "index.html",
        "ctime": "2018-01-10T18:00:36.270Z",
        "mtime": "2018-01-10T18:00:36.270Z",
        "size": 2124
      },
      {
        "file": "treatment_citiz.html",
        "ctime": "2018-01-10T18:08:49.978Z",
        "mtime": "2018-01-10T18:08:49.978Z",
        "size": 1251
      },
      {
        "file": "welcome_citiz.html",
        "ctime": "2018-01-10T18:06:27.767Z",
        "mtime": "2018-01-10T18:06:27.767Z",
        "size": 1588
      },
      {
        "file": "assets/js/appointment-scripts.js",
        "ctime": "2018-01-10T18:21:29.975Z",
        "mtime": "2018-01-10T18:21:29.975Z",
        "size": 3153
      },
      {
        "file": "assets/js/globals.js",
        "ctime": "2018-01-10T18:15:32.441Z",
        "mtime": "2018-01-10T17:49:59.231Z",
        "size": 617
      },
      {
        "file": "assets/js/xmljson.js",
        "ctime": "2018-01-10T18:15:32.679Z",
        "mtime": "2018-01-10T17:49:59.142Z",
        "size": 7743
      },
      {
        "file": "assets/js/contact.html",
        "ctime": "2018-01-10T18:15:37.566Z",
        "mtime": "2018-01-10T18:15:37.556Z",
        "size": 960
      },
      {
        "file": "assets/fullcalendar/CHANGELOG.txt",
        "ctime": "2018-01-10T18:16:10.056Z",
        "mtime": "2018-01-10T17:49:59.979Z",
        "size": 47378
      },
      {
        "file": "assets/fullcalendar/CONTRIBUTING.txt",
        "ctime": "2018-01-10T18:16:10.016Z",
        "mtime": "2018-01-10T17:49:59.960Z",
        "size": 4594
      },
      {
        "file": "assets/fullcalendar/fullcalendar.css",
        "ctime": "2018-01-10T18:16:10.006Z",
        "mtime": "2018-01-10T17:49:59.686Z",
        "size": 33066
      },
      {
        "file": "assets/fullcalendar/fullcalendar.js",
        "ctime": "2018-01-10T18:16:10.039Z",
        "mtime": "2018-01-10T17:49:59.773Z",
        "size": 462743
      },
      {
        "file": "assets/fullcalendar/fullcalendar.min.css",
        "ctime": "2018-01-10T18:16:10.070Z",
        "mtime": "2018-01-10T17:49:59.694Z",
        "size": 15714
      },
      {
        "file": "assets/fullcalendar/fullcalendar.min.js",
        "ctime": "2018-01-10T18:16:10.044Z",
        "mtime": "2018-01-10T17:49:59.910Z",
        "size": 172361
      },
      {
        "file": "assets/fullcalendar/fullcalendar.print.css",
        "ctime": "2018-01-10T18:16:10.022Z",
        "mtime": "2018-01-10T17:49:59.675Z",
        "size": 5566
      },
      {
        "file": "assets/fullcalendar/fullcalendar.print.min.css",
        "ctime": "2018-01-10T18:16:10.060Z",
        "mtime": "2018-01-10T17:49:59.950Z",
        "size": 1901
      },
      {
        "file": "assets/fullcalendar/gcal.js",
        "ctime": "2018-01-10T18:16:10.033Z",
        "mtime": "2018-01-10T17:49:59.967Z",
        "size": 7002
      },
      {
        "file": "assets/fullcalendar/gcal.min.js",
        "ctime": "2018-01-10T18:16:10.049Z",
        "mtime": "2018-01-10T17:49:59.669Z",
        "size": 3116
      },
      {
        "file": "assets/fullcalendar/LICENSE.txt",
        "ctime": "2018-01-10T18:16:10.064Z",
        "mtime": "2018-01-10T17:49:59.955Z",
        "size": 1053
      },
      {
        "file": "assets/fullcalendar/locale-all.js",
        "ctime": "2018-01-10T18:16:10.028Z",
        "mtime": "2018-01-10T17:49:59.945Z",
        "size": 163666
      },
      {
        "file": "assets/js/jquery.timepicker.min.js",
        "ctime": "2018-01-10T18:15:32.655Z",
        "mtime": "2018-01-10T17:49:59.135Z",
        "size": 15773
      },
      {
        "file": "assets/js/moment.js",
        "ctime": "2018-01-10T18:15:32.669Z",
        "mtime": "2018-01-10T17:49:59.221Z",
        "size": 463696
      },
      {
        "file": "assets/fullcalendar/demos/agenda-views.html",
        "ctime": "2018-01-10T18:16:11.190Z",
        "mtime": "2018-01-10T17:49:59.790Z",
        "size": 2102
      },
      {
        "file": "assets/fullcalendar/demos/background-events.html",
        "ctime": "2018-01-10T18:16:11.161Z",
        "mtime": "2018-01-10T17:49:59.850Z",
        "size": 2162
      },
      {
        "file": "assets/fullcalendar/demos/basic-views.html",
        "ctime": "2018-01-10T18:16:11.284Z",
        "mtime": "2018-01-10T17:49:59.804Z",
        "size": 1984
      },
      {
        "file": "assets/fullcalendar/demos/default.html",
        "ctime": "2018-01-10T18:16:11.125Z",
        "mtime": "2018-01-10T17:49:59.814Z",
        "size": 1910
      },
      {
        "file": "assets/fullcalendar/demos/external-dragging.html",
        "ctime": "2018-01-10T18:16:11.196Z",
        "mtime": "2018-01-10T17:49:59.785Z",
        "size": 3012
      },
      {
        "file": "assets/fullcalendar/demos/gcal.html",
        "ctime": "2018-01-10T18:16:11.281Z",
        "mtime": "2018-01-10T17:49:59.846Z",
        "size": 1570
      },
      {
        "file": "assets/fullcalendar/demos/json.html",
        "ctime": "2018-01-10T18:16:11.139Z",
        "mtime": "2018-01-10T17:49:59.794Z",
        "size": 1598
      },
      {
        "file": "assets/fullcalendar/demos/list-views.html",
        "ctime": "2018-01-10T18:16:11.209Z",
        "mtime": "2018-01-10T17:49:59.780Z",
        "size": 2305
      },
      {
        "file": "assets/fullcalendar/demos/locales.html",
        "ctime": "2018-01-10T18:16:11.202Z",
        "mtime": "2018-01-10T17:49:59.799Z",
        "size": 3025
      },
      {
        "file": "assets/fullcalendar/demos/selectable.html",
        "ctime": "2018-01-10T18:16:11.175Z",
        "mtime": "2018-01-10T17:49:59.864Z",
        "size": 2483
      },
      {
        "file": "assets/fullcalendar/demos/themes.html",
        "ctime": "2018-01-10T18:16:11.133Z",
        "mtime": "2018-01-10T17:49:59.809Z",
        "size": 6255
      },
      {
        "file": "assets/fullcalendar/demos/timezones.html",
        "ctime": "2018-01-10T18:16:11.181Z",
        "mtime": "2018-01-10T17:49:59.874Z",
        "size": 3078
      },
      {
        "file": "assets/fullcalendar/demos/week-numbers.html",
        "ctime": "2018-01-10T18:16:11.153Z",
        "mtime": "2018-01-10T17:49:59.869Z",
        "size": 2195
      },
      {
        "file": "assets/fullcalendar/lib/jquery-ui.min.js",
        "ctime": "2018-01-10T18:16:11.074Z",
        "mtime": "2018-01-10T17:49:59.626Z",
        "size": 253669
      },
      {
        "file": "assets/fullcalendar/lib/jquery.min.js",
        "ctime": "2018-01-10T18:16:11.078Z",
        "mtime": "2018-01-10T17:49:59.662Z",
        "size": 86659
      },
      {
        "file": "assets/fullcalendar/lib/moment.min.js",
        "ctime": "2018-01-10T18:16:11.082Z",
        "mtime": "2018-01-10T17:49:59.644Z",
        "size": 51465
      },
      {
        "file": "assets/fullcalendar/locale/af.js",
        "ctime": "2018-01-10T18:16:10.343Z",
        "mtime": "2018-01-10T17:49:59.372Z",
        "size": 2153
      },
      {
        "file": "assets/fullcalendar/locale/ar-dz.js",
        "ctime": "2018-01-10T18:16:10.548Z",
        "mtime": "2018-01-10T17:49:59.388Z",
        "size": 2442
      },
      {
        "file": "assets/fullcalendar/locale/ar-kw.js",
        "ctime": "2018-01-10T18:16:10.379Z",
        "mtime": "2018-01-10T17:49:59.407Z",
        "size": 2400
      },
      {
        "file": "assets/fullcalendar/locale/ar-ly.js",
        "ctime": "2018-01-10T18:16:10.895Z",
        "mtime": "2018-01-10T17:49:59.393Z",
        "size": 3503
      },
      {
        "file": "assets/fullcalendar/locale/ar-ma.js",
        "ctime": "2018-01-10T18:16:10.614Z",
        "mtime": "2018-01-10T17:49:59.529Z",
        "size": 2400
      },
      {
        "file": "assets/fullcalendar/locale/ar-sa.js",
        "ctime": "2018-01-10T18:16:10.178Z",
        "mtime": "2018-01-10T17:49:59.576Z",
        "size": 2896
      },
      {
        "file": "assets/fullcalendar/locale/ar-tn.js",
        "ctime": "2018-01-10T18:16:10.338Z",
        "mtime": "2018-01-10T17:49:59.258Z",
        "size": 2403
      },
      {
        "file": "assets/fullcalendar/locale/ar.js",
        "ctime": "2018-01-10T18:16:10.891Z",
        "mtime": "2018-01-10T17:49:59.505Z",
        "size": 3826
      },
      {
        "file": "assets/fullcalendar/locale/bg.js",
        "ctime": "2018-01-10T18:16:10.326Z",
        "mtime": "2018-01-10T17:49:59.510Z",
        "size": 2834
      },
      {
        "file": "assets/fullcalendar/locale/ca.js",
        "ctime": "2018-01-10T18:16:10.370Z",
        "mtime": "2018-01-10T17:49:59.426Z",
        "size": 2642
      },
      {
        "file": "assets/fullcalendar/locale/cs.js",
        "ctime": "2018-01-10T18:16:10.552Z",
        "mtime": "2018-01-10T17:49:59.344Z",
        "size": 3312
      },
      {
        "file": "assets/fullcalendar/locale/da.js",
        "ctime": "2018-01-10T18:16:10.507Z",
        "mtime": "2018-01-10T17:49:59.537Z",
        "size": 1969
      },
      {
        "file": "assets/fullcalendar/locale/de-at.js",
        "ctime": "2018-01-10T18:16:10.502Z",
        "mtime": "2018-01-10T17:49:59.398Z",
        "size": 2314
      },
      {
        "file": "assets/fullcalendar/locale/de-ch.js",
        "ctime": "2018-01-10T18:16:10.392Z",
        "mtime": "2018-01-10T17:49:59.377Z",
        "size": 2307
      },
      {
        "file": "assets/fullcalendar/locale/de.js",
        "ctime": "2018-01-10T18:16:10.517Z",
        "mtime": "2018-01-10T17:49:59.316Z",
        "size": 2303
      },
      {
        "file": "assets/fullcalendar/locale/el.js",
        "ctime": "2018-01-10T18:16:10.155Z",
        "mtime": "2018-01-10T17:49:59.561Z",
        "size": 3667
      },
      {
        "file": "assets/fullcalendar/locale/en-au.js",
        "ctime": "2018-01-10T18:16:10.360Z",
        "mtime": "2018-01-10T17:49:59.471Z",
        "size": 1892
      },
      {
        "file": "assets/fullcalendar/locale/en-ca.js",
        "ctime": "2018-01-10T18:16:10.151Z",
        "mtime": "2018-01-10T17:49:59.533Z",
        "size": 1260
      },
      {
        "file": "assets/fullcalendar/locale/en-gb.js",
        "ctime": "2018-01-10T18:16:10.578Z",
        "mtime": "2018-01-10T17:49:59.411Z",
        "size": 1888
      },
      {
        "file": "assets/fullcalendar/locale/en-ie.js",
        "ctime": "2018-01-10T18:16:10.596Z",
        "mtime": "2018-01-10T17:49:59.421Z",
        "size": 1271
      },
      {
        "file": "assets/fullcalendar/locale/en-nz.js",
        "ctime": "2018-01-10T18:16:10.126Z",
        "mtime": "2018-01-10T17:49:59.556Z",
        "size": 1892
      },
      {
        "file": "assets/fullcalendar/locale/es-do.js",
        "ctime": "2018-01-10T18:16:10.330Z",
        "mtime": "2018-01-10T17:49:59.402Z",
        "size": 2440
      },
      {
        "file": "assets/fullcalendar/locale/es.js",
        "ctime": "2018-01-10T18:16:10.905Z",
        "mtime": "2018-01-10T17:49:59.384Z",
        "size": 2423
      },
      {
        "file": "assets/fullcalendar/locale/et.js",
        "ctime": "2018-01-10T18:16:10.159Z",
        "mtime": "2018-01-10T17:49:59.270Z",
        "size": 2353
      },
      {
        "file": "assets/fullcalendar/locale/eu.js",
        "ctime": "2018-01-10T18:16:10.310Z",
        "mtime": "2018-01-10T17:49:59.298Z",
        "size": 2223
      },
      {
        "file": "assets/fullcalendar/locale/fa.js",
        "ctime": "2018-01-10T18:16:10.512Z",
        "mtime": "2018-01-10T17:49:59.330Z",
        "size": 2959
      },
      {
        "file": "assets/fullcalendar/locale/fi.js",
        "ctime": "2018-01-10T18:16:10.190Z",
        "mtime": "2018-01-10T17:49:59.349Z",
        "size": 2836
      },
      {
        "file": "assets/fullcalendar/locale/fr-ca.js",
        "ctime": "2018-01-10T18:16:10.571Z",
        "mtime": "2018-01-10T17:49:59.293Z",
        "size": 2221
      },
      {
        "file": "assets/fullcalendar/locale/fr-ch.js",
        "ctime": "2018-01-10T18:16:10.348Z",
        "mtime": "2018-01-10T17:49:59.475Z",
        "size": 2237
      },
      {
        "file": "assets/fullcalendar/locale/fr.js",
        "ctime": "2018-01-10T18:16:10.557Z",
        "mtime": "2018-01-10T17:49:59.546Z",
        "size": 2251
      },
      {
        "file": "assets/fullcalendar/locale/gl.js",
        "ctime": "2018-01-10T18:16:10.143Z",
        "mtime": "2018-01-10T17:49:59.490Z",
        "size": 2327
      },
      {
        "file": "assets/fullcalendar/locale/he.js",
        "ctime": "2018-01-10T18:16:10.322Z",
        "mtime": "2018-01-10T17:49:59.524Z",
        "size": 2917
      },
      {
        "file": "assets/fullcalendar/locale/hi.js",
        "ctime": "2018-01-10T18:16:10.531Z",
        "mtime": "2018-01-10T17:49:59.265Z",
        "size": 3742
      },
      {
        "file": "assets/fullcalendar/locale/hr.js",
        "ctime": "2018-01-10T18:16:10.182Z",
        "mtime": "2018-01-10T17:49:59.289Z",
        "size": 2938
      },
      {
        "file": "assets/fullcalendar/locale/hu.js",
        "ctime": "2018-01-10T18:16:10.589Z",
        "mtime": "2018-01-10T17:49:59.363Z",
        "size": 2811
      },
      {
        "file": "assets/fullcalendar/locale/id.js",
        "ctime": "2018-01-10T18:16:10.354Z",
        "mtime": "2018-01-10T17:49:59.284Z",
        "size": 2164
      },
      {
        "file": "assets/fullcalendar/locale/is.js",
        "ctime": "2018-01-10T18:16:10.163Z",
        "mtime": "2018-01-10T17:49:59.358Z",
        "size": 2748
      },
      {
        "file": "assets/fullcalendar/locale/it.js",
        "ctime": "2018-01-10T18:16:10.901Z",
        "mtime": "2018-01-10T17:49:59.354Z",
        "size": 2167
      },
      {
        "file": "assets/fullcalendar/locale/ja.js",
        "ctime": "2018-01-10T18:16:10.318Z",
        "mtime": "2018-01-10T17:49:59.311Z",
        "size": 2276
      },
      {
        "file": "assets/fullcalendar/locale/kk.js",
        "ctime": "2018-01-10T18:16:10.139Z",
        "mtime": "2018-01-10T17:49:59.462Z",
        "size": 2863
      },
      {
        "file": "assets/fullcalendar/locale/ko.js",
        "ctime": "2018-01-10T18:16:10.175Z",
        "mtime": "2018-01-10T17:49:59.480Z",
        "size": 2170
      },
      {
        "file": "assets/fullcalendar/locale/lb.js",
        "ctime": "2018-01-10T18:16:10.366Z",
        "mtime": "2018-01-10T17:49:59.339Z",
        "size": 2654
      },
      {
        "file": "assets/fullcalendar/locale/lt.js",
        "ctime": "2018-01-10T18:16:10.608Z",
        "mtime": "2018-01-10T17:49:59.435Z",
        "size": 3181
      },
      {
        "file": "assets/fullcalendar/locale/lv.js",
        "ctime": "2018-01-10T18:16:10.134Z",
        "mtime": "2018-01-10T17:49:59.307Z",
        "size": 2723
      },
      {
        "file": "assets/fullcalendar/locale/mk.js",
        "ctime": "2018-01-10T18:16:10.314Z",
        "mtime": "2018-01-10T17:49:59.280Z",
        "size": 2823
      },
      {
        "file": "assets/fullcalendar/locale/ms-my.js",
        "ctime": "2018-01-10T18:16:10.522Z",
        "mtime": "2018-01-10T17:49:59.302Z",
        "size": 2217
      },
      {
        "file": "assets/fullcalendar/locale/ms.js",
        "ctime": "2018-01-10T18:16:10.186Z",
        "mtime": "2018-01-10T17:49:59.253Z",
        "size": 2208
      },
      {
        "file": "assets/fullcalendar/locale/nb.js",
        "ctime": "2018-01-10T18:16:10.374Z",
        "mtime": "2018-01-10T17:49:59.415Z",
        "size": 2023
      },
      {
        "file": "assets/fullcalendar/locale/nl-be.js",
        "ctime": "2018-01-10T18:16:10.602Z",
        "mtime": "2018-01-10T17:49:59.451Z",
        "size": 2812
      },
      {
        "file": "assets/fullcalendar/locale/nl.js",
        "ctime": "2018-01-10T18:16:10.562Z",
        "mtime": "2018-01-10T17:49:59.457Z",
        "size": 2800
      },
      {
        "file": "assets/fullcalendar/locale/nn.js",
        "ctime": "2018-01-10T18:16:10.171Z",
        "mtime": "2018-01-10T17:49:59.571Z",
        "size": 1985
      },
      {
        "file": "assets/fullcalendar/locale/pl.js",
        "ctime": "2018-01-10T18:16:10.148Z",
        "mtime": "2018-01-10T17:49:59.430Z",
        "size": 2711
      },
      {
        "file": "assets/fullcalendar/locale/pt-br.js",
        "ctime": "2018-01-10T18:16:10.395Z",
        "mtime": "2018-01-10T17:49:59.334Z",
        "size": 2202
      },
      {
        "file": "assets/fullcalendar/locale/pt.js",
        "ctime": "2018-01-10T18:16:10.121Z",
        "mtime": "2018-01-10T17:49:59.542Z",
        "size": 2146
      },
      {
        "file": "assets/fullcalendar/locale/ro.js",
        "ctime": "2018-01-10T18:16:10.908Z",
        "mtime": "2018-01-10T17:49:59.320Z",
        "size": 2144
      },
      {
        "file": "assets/fullcalendar/locale/ru.js",
        "ctime": "2018-01-10T18:16:10.199Z",
        "mtime": "2018-01-10T17:49:59.447Z",
        "size": 5600
      },
      {
        "file": "assets/fullcalendar/locale/sk.js",
        "ctime": "2018-01-10T18:16:10.898Z",
        "mtime": "2018-01-10T17:49:59.551Z",
        "size": 2963
      },
      {
        "file": "assets/fullcalendar/locale/sl.js",
        "ctime": "2018-01-10T18:16:10.167Z",
        "mtime": "2018-01-10T17:49:59.566Z",
        "size": 3168
      },
      {
        "file": "assets/fullcalendar/locale/sr-cyrl.js",
        "ctime": "2018-01-10T18:16:10.334Z",
        "mtime": "2018-01-10T17:49:59.495Z",
        "size": 3566
      },
      {
        "file": "assets/fullcalendar/locale/sr.js",
        "ctime": "2018-01-10T18:16:10.583Z",
        "mtime": "2018-01-10T17:49:59.275Z",
        "size": 2851
      },
      {
        "file": "assets/fullcalendar/locale/sv.js",
        "ctime": "2018-01-10T18:16:10.526Z",
        "mtime": "2018-01-10T17:49:59.514Z",
        "size": 2086
      },
      {
        "file": "assets/fullcalendar/locale/th.js",
        "ctime": "2018-01-10T18:16:10.194Z",
        "mtime": "2018-01-10T17:49:59.440Z",
        "size": 3418
      },
      {
        "file": "assets/fullcalendar/locale/tr.js",
        "ctime": "2018-01-10T18:16:10.912Z",
        "mtime": "2018-01-10T17:49:59.519Z",
        "size": 2336
      },
      {
        "file": "assets/fullcalendar/locale/uk.js",
        "ctime": "2018-01-10T18:16:10.543Z",
        "mtime": "2018-01-10T17:49:59.500Z",
        "size": 4265
      },
      {
        "file": "assets/fullcalendar/locale/vi.js",
        "ctime": "2018-01-10T18:16:10.130Z",
        "mtime": "2018-01-10T17:49:59.367Z",
        "size": 2550
      },
      {
        "file": "assets/fullcalendar/locale/zh-cn.js",
        "ctime": "2018-01-10T18:16:10.382Z",
        "mtime": "2018-01-10T17:49:59.325Z",
        "size": 2685
      },
      {
        "file": "assets/fullcalendar/locale/zh-tw.js",
        "ctime": "2018-01-10T18:16:10.387Z",
        "mtime": "2018-01-10T17:49:59.466Z",
        "size": 2661
      },
      {
        "file": "assets/fullcalendar/demos/js/theme-chooser.js",
        "ctime": "2018-01-10T18:16:11.146Z",
        "mtime": "2018-01-10T17:49:59.839Z",
        "size": 2633
      },
      {
        "file": "assets/fullcalendar/demos/json/events.json",
        "ctime": "2018-01-10T18:16:11.186Z",
        "mtime": "2018-01-10T17:49:59.857Z",
        "size": 1026
      },
      {
        "file": "assets/fullcalendar/demos/php/get-events.php",
        "ctime": "2018-01-10T18:16:11.171Z",
        "mtime": "2018-01-10T17:49:59.831Z",
        "size": 1795
      },
      {
        "file": "assets/fullcalendar/demos/php/get-timezones.php",
        "ctime": "2018-01-10T18:16:11.166Z",
        "mtime": "2018-01-10T17:49:59.821Z",
        "size": 393
      },
      {
        "file": "assets/fullcalendar/demos/php/utils.php",
        "ctime": "2018-01-10T18:16:11.169Z",
        "mtime": "2018-01-10T17:49:59.826Z",
        "size": 3905
      },
      {
        "file": "assets/css/font-awesome.css",
        "ctime": "2018-01-10T18:27:36.178Z",
        "mtime": "2018-01-10T17:49:59.109Z",
        "size": 37414
      },
      {
        "file": "assets/css/font-awesome.min.css",
        "ctime": "2018-01-10T18:27:36.373Z",
        "mtime": "2018-01-10T17:49:59.094Z",
        "size": 31000
      },
      {
        "file": "assets/css/jquery.timepicker.min.css",
        "ctime": "2018-01-10T18:27:36.388Z",
        "mtime": "2018-01-10T17:49:59.118Z",
        "size": 1423
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}